
aula5/.ipynb_checkpoints/

aula8/.ipynb_checkpoints/captura_resposta_temporal-checkpoint.ipynb

aula7/.ipynb_checkpoints/circuito_RLC_resposta_temporal-checkpoint.ipynb

aula4/.ipynb_checkpoints/impedancia_complexa-checkpoint.ipynb

Michelson/.ipynb_checkpoints/carrega_dados_michelson_exemplo-checkpoint.ipynb

aula2/introducao_Python_e_aquisicao.ipynb
