
aula5/.ipynb_checkpoints/resposta_frequencia-checkpoint.ipynb

relatorio1/.ipynb_checkpoints/exemplo_ajuste_rc-checkpoint.ipynb

aula8/.ipynb_checkpoints/captura_resposta_temporal-checkpoint.ipynb

aula7/.ipynb_checkpoints/circuito_RLC_resposta_temporal-checkpoint.ipynb
